
<div class="col-lg-6 intro" style="margin-top:20px; margin:auto;">
    <h4>Youtube to Spotify</h4>
    <p>
        <div>1 - Play something on Youtube (or on other supported web sites)</div>
        <div>2 - Click Paradify extension</div>
        <div>3 - It's done</div>
    </p>

    <p>
        <strong>Supported web sites</strong>
        <ul class="ul-supported-web-sites">
            <li><a href="https://www.youtube.com/watch?v=YQHsXMglC9A" target="_blank">YouTube</a></li>
            <li><a href="http://www.jango.com/music/Jay+Z" target="_blank">Jango</a></li>
            <li><a href="https://tunein.com/radio/Radio-Veronica-80s-Hits-s242550/" target="_blank">Tune in(many radios are in)</a></li>
            <li><a href="https://www.dailymotion.com/video/x3e1r8n" target="_blank">Daily Motion</a></li>
            <li><a href="https://vimeo.com/150178241" target="_blank">Vimeo</a></li>
            <li><a href="https://soundcloud.com/johnnycash/hurt-album-version" target="_blank">Sound Cloud</a></li>
            <li><a href="https://www.deezer.com/en/channels/rap" target="_blank">Deezer</a></li>
            <li><a href="http://www.radioparadise.com/rp_2.php?#" target="_blank">Radio Paradise</a></li>
            <li><a href="https://qmusic.nl/" target="_blank">Q Music</a></li>
            <li><a href="http://www.radioswissjazz.ch/en" target="_blank">Radio Swiss Jazz</a></li>
            <li><a href="http://www.powerapp.com.tr/powerfm" target="_blank">Power Fm(many radios are in)</a></li>
            <li>Kral Fm</li>
            <li><a href="https://karnaval.com/" target="_blank">Karnaval(many radios are in)</a></li>
            <li><a href="https://open.spotify.com/album/4E2eUhFHqTG2pu9MN1NDIF" target="_blank">Spotify Web</a></li>
            <li><a href="https://www.beatport.com/track/only-human-original-mix/11639590" target="_blank">Beatport DJ & Dance Music</a></li>
        </ul>
    </p>
</div>

<div class="col-lg-6  intro" style="margin-top:20px">
    <div class="custom-bottom">
        <h4>What do you need to do?</h4>
        <p>
            1. <a href="https://chrome.google.com/webstore/detail/paradify-youtube-radios-t/bocdilfmhiggklhdifohjfghbdncgele" onclick="chromeStoreClick()" target="_blank">
            install
            </a> Paradify Chrome Extension

        </p>

        <p>
            2. if you don't feel installing, just search up there
        </p>
    </div>

    <h6>Why you should donate?</h6>
    <p>
        First of all, you don't have to... But, Paradify needs to be hosted on a cloud server and be paid. Your tiny help will keep Paradify live. Please feel free to change the amount to whatever you would like.
        <br/>
        <a href="https://www.paypal.me/volkanakinpasa/5" target="_blank">Paypal me 5€ </a>
    </p>

    <h4>Say something</h4>
    <p>
        Don't be shy! Just drop a message
        <a href="@Url.Action("Contact", "Home")">here</a>
    </p>
</div>
<script>

    function install() {
        chrome.webstore.install('https://chrome.google.com/webstore/detail/bocdilfmhiggklhdifohjfghbdncgele', function () {

        }, function (err) {
        });
    }
</script>