@using SpotifyAPI.Web.Models
@model PrivateProfile
<div class="nav-item dropdown">
@if (Model == null || string.IsNullOrEmpty(Model.Id))
{
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="fa fa-user" style="font-size:20px;"></span>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    @(Html.ActionLink("Login", "Index", "Authorize", null, new { id = "loginLink", @class = "dropdown-item" }))
    </div>
}
else
{
    var firstImage = Model.Images.FirstOrDefault();

    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    @if (firstImage != null)
    {
        <span>@(Model.DisplayName != null ? Model.DisplayName : Model.Id)</span>
        <img id="profile_pic" class="profile_pic" src="@firstImage.Url" />
    }
    else
    {
        <span class="fa fa-user" style="font-size:20px;"></span>
    }
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    @(Html.ActionLink("Logout", "Logout", "Authorize", null, new { @class = "dropdown-item" }))
    </div>
}
</div>