
<div class="col-lg-4" style="margin-top:20px">
    <h4>Why do you need Paradify?</h4>
    <p>
        <strong>Youtube to Spotify playlist</strong>
        <br/>
        Let's say you watch a video clip on Youtube(or on other websites),
        Paradify finds it on Spotify and adds to your playlist.
    </p>
    <p>
        <strong>Many recommendations in easy way</strong>
        <br />
        Paradify also recommends you many songs based on the song you found. You can easily add all recommended songs to your playlist.
    </p>
    <p>
        <strong>Supported web sites</strong>
        <ul class="ul-supported-web-sites">
            <li><a href="https://www.youtube.com/watch?v=YQHsXMglC9A" target="_blank">YouTube</a></li>
            <li><a href="https://open.spotify.com/album/4E2eUhFHqTG2pu9MN1NDIF" target="_blank">Spotify Web</a></li>
            <li><a href="http://www.jango.com/music/Jay+Z" target="_blank">Jango</a></li>
            <li><a href="https://tunein.com/radio/Radio-Veronica-80s-Hits-s242550/" target="_blank">Tune in(many radios are in)</a></li>
            <li><a href="https://www.dailymotion.com/video/x3e1r8n" target="_blank">Daily Motion</a></li>
            <li><a href="https://vimeo.com/150178241" target="_blank">Vimeo</a></li>
            <li><a href="https://soundcloud.com/johnnycash/hurt-album-version" target="_blank">Sound Cloud</a></li>
            <li><a href="https://www.deezer.com/en/channels/rap" target="_blank">Deezer</a></li>
            <li><a href="http://www.radioparadise.com/rp_2.php?#" target="_blank">Radio Paradise</a></li>
            <li><a href="https://qmusic.nl/" target="_blank">Q Music</a></li>
            <li><a href="http://www.radioswissjazz.ch/en" target="_blank">Radio Swiss Jazz</a></li>
            <li><a href="http://www.powerapp.com.tr/powerfm" target="_blank">Power Fm(many radios are in)</a></li>
            <li>Kral Fm</li>
            <li><a href="https://karnaval.com/" target="_blank">Karnaval(many radios are in)</a></li>
        </ul>
    </p>
</div>

    <div class="col-lg-4" style="margin-top:20px">
        <h4>What do you need to do?</h4>
        <p>
            1. <span class="badge badge-warning" style="width:85px; font-size:1em;"><a id="install-button" href="javascript:install()">install</a></span> Paradify Chrome Extension. If it doesn't install, use
            <a href="https://chrome.google.com/webstore/detail/paradify-youtube-radios-t/bocdilfmhiggklhdifohjfghbdncgele" onclick="chromeStoreClick()" target="_blank">
                this link
            </a>

        </p>
       
        <p>
            2. if you don't want to install the application, you can still use this web site by searching the songs.
        </p>
    </div>


    <div class="col-lg-4" style="margin-top:20px">
        <h4>It is open source on Github</h4>
        <p>
            For developers
            <br/>
            <a class="github-button" href="https://github.com/volkanakinpasa/paradify" data-size="large" aria-label="Star volkanakinpasa/paradify on GitHub">Github</a>

        </p>
    </div>

<script>

    function install() {
        chrome.webstore.install('https://chrome.google.com/webstore/detail/bocdilfmhiggklhdifohjfghbdncgele', function () {
           
        }, function (err) {
        });
    }
</script>