<div class="bg-light" style="margin: 40px 0">
    <div class="container-fluid">

        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">

            <!-- Grid column -->
            <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                <h6 class="mb-0">Get connected with Paradify on social networks!</h6>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-6 col-lg-7 text-center text-md-right">

                <!-- Facebook -->
                <a class="fb-ic" href="https://www.facebook.com/paradify/" target="_blank">
                    <i class="fab fa-facebook-f white-text mr-4"> </i>
                </a>
                <!-- Twitter -->
                <a class="tw-ic" href="https://twitter.com/paradify" target="_blank">
                    <i class="fab fa-twitter white-text mr-4"> </i>
                </a>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
</div>