<!-- Footer -->
<footer class="page-footer font-small unique-color-dark footer">
    @Html.Partial("Footers/_FooterTop")
    <div style="margin: 40px 0">
        <div class="container-fluid">
            <div>
                <h6 class="text-uppercase font-weight-bold">Genres</h6>
                <p>
                    <div class="mb-4 mb-md-0">
                        <div id="genres">

                        </div>
                    </div>
                 </p>
            </div>
            <!-- Grid row-->
        </div>
    </div>
</footer>
<!-- Footer -->