.play {
    background-image: url("../images/play-white.png");
    background-repeat: no-repeat;
    background-position: center;
}

.pause {
    background-image: url("../images/pause-white.png");
    background-repeat: no-repeat;
    background-position: center;
}

 

     .play-pause {
        width: 35px;
        height: 35px;
        margin: auto;
        border-radius: 100%;
    }

.number-playback-pic {
    position: relative;
}
